<h1>Parking lot</h1>

<form [formGroup]="dataContacts">
  Veículo: <br />
  <input type="text" formControlName='veiculo' />
  <div *ngIf="dataContacts.controls.veiculo.errors?.required" class="error">
    Veículo é obrigatório
  </div>

  <br />

  Placa: <br />
  <input type="text" formControlName='placa' />
  <div *ngIf="dataContacts.controls.placa.errors?.required" class="error">
    Placa é obrigatório
  </div>
  <div *ngIf="dataContacts.controls.placa.errors?.minlength || dataContacts.controls.placa.errors?.maxlength"
    class="error">
    A placa deve ter 7 caracteres
  </div>

  <br />

  Motorista: <br />
  <input type="text" formControlName='motorista' />
  <div *ngIf="dataContacts.controls.motorista.errors?.required" class="error">
    Motorista é obrigatório
  </div>

  <br />

  Telefone: <br />
  <input type="tel" formControlName='telefone' />
  <div *ngIf="dataContacts.controls.telefone.errors?.required" class="error">
    Telefone é obrigatório
  </div>
  <div *ngIf="dataContacts.controls.telefone.errors?.minlength || dataContacts.controls.telefone.errors?.maxlength"
    class="error">
    O telefone deve conter entre 10 e 11 caracteres
  </div>

  <br />
  <br />

  <input type="button" value="Salvar" [disabled]="dataContacts.invalid" (click)='saveData()'>

  <br />
  <br />

  <table border="1" style="width: 90%;">
    <thead>
      <tr>
        <th>Veículo</th>
        <th>Placa</th>
        <th>Motorista</th>
        <th>Entrada</th>
        <th>Saída</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let data of allDatasVehicle'>
        <td>{{ data.veiculo }}</td>
        <td>{{ data.placa }}</td>
        <td>{{ data.motorista }}</td>
        <td>{{ data.entrada | date:"HH:mm" }}</td>
        <td>{{ data.saida | date:"HH:mm" }}</td>
        <td>{{ data.total }}</td>
        <td><input type="button" value="Encerrar"></td>

      </tr>
    </tbody>
  </table>

</form>